<div id="books-show">
	<h2>Harry Potter and the Sorcerer's stone</h2>
	<div class="books-show-left">
		<%= image_tag('hp1.jpg') %>
	</div>
	<div class="books-show-right">
		<h3>Book info:</h3>
		<ul>
			<li><strong>Category: </strong>Harry Potter and the Sorcerer's stone</li>
			<li><strong>Author: </strong>J. K. Rowling</li>
			<li><strong>Publisher: </strong>Bloomsbury (UK) (Canada 2010–present)<br><ol>Arthur A. Levine/Scholastic (US)</ol><ol>Raincoast (Canada 1998–2010)</ol> </li>
			<li><strong>Year: </strong>26 June 1997 (UK)<br><ol>1 September 1998 (US)</ol></li>
			<li><strong>ISBN: </strong>0-7475-3269-9</li>
			<li><strong>Format: </strong>Paperback</li>
			<li><strong>Pages: </strong>249</li>
		</ul>
		<%=link_to "Buy For $5", 'http://www2.sdfi.edu.cn/netclass/jiaoan/englit/download/Harry%20Potter%20and%20the%20Sorcerer\'s%20Stone.pdf', class:'btn btn-success', target:'_blank' %>
	</div>
	<div class="clearfix"></div>
	<h4>Excerpt</h4>
	<p>Mr. and Mrs. Dursley, of number four, Privet Drive, were proud to say
		that they were perfectly normal, thank you very much. They were the last
		people you'd expect to be involved in anything strange or mysterious,
		because they just didn't hold with such nonsense.</p>
	</div>